.cards-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .dashboard-actions {
    margin-top: 15px;
    display: flex;
    gap: 15px;
  }
  
  .btn {
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .primary {
    background: #38bdf8;
    color: #020617;
  }
  
  .secondary {
    background: #334155;
    color: #e5e7eb;
  }
  
  .btn:hover {
    opacity: 0.85;
  }
  