/* Full top bar */
.navbar {
    width: 100%;
    background: #1e293b;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Centered content inside bar */
  .navbar-inner {
    max-width: 1200px;
    margin: auto;
    padding: 14px 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Links */
  .nav-links a {
    margin-left: 24px;
    text-decoration: none;
    color: #cbd5e1;
    font-weight: 500;
    transition: 0.2s;
  }
  
  .nav-links a:hover {
    color: #38bdf8;
  }
  